.ListGroupItem {
  width: 100%;
  margin: 10px;
}
.ListGroup {
  width: 100%;
  padding-right: 0;
}
.Wrapper {
  max-width: 1000px;
}

div a:hover,
a {
  text-decoration: none;
  color: white;
}

.ListGroupButton {
  padding: 0;

  top: 64px;
}
